<p><button class='btn btn-default' ng-click="order.back_to_list()">Вернуться к списку заказов</button></p>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Шаг 3 - оплата/возврат</h3>
  </div>
  <form name="new_order" role="form" ng-submit="order.submit()">
    <div class="form-group clearfix">
      <label class="col-sm-2 control-label">Текущий статус</label>
      <div class="col-sm-5" ng-bind="order.obj.step3.name"></div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 control-label">Статус для архива</label>
      <div class="col-sm-5">
        <select class="form-control" name="status_step3" ng-model="order.obj.status_step3">
          <option ng-repeat="status in order.statuses" ng-selected="status.id == order.obj.step3.archive_advise" value='{{ status.id }}'>{{status.automatic ? '(АВТО) ' : ''}}{{ status.name | notags }}</option>
        </select>
      </div>
    </div>
    <div class="form-group clearfix">
      <label>ФИО: {{order.obj.fio}}</label>
    </div>
    <div class="form-group clearfix">
      <label>Декларация Н.П.: <a target="_new" href="http://novaposhta.ua/tracking/?cargo_number={{order.obj.newpost_id}}&language=ru">{{order.obj.newpost_id}}</a></label>
    </div>
    <div class="form-group clearfix">
      <label>Обратная декларация: <a target="_new" href="http://novaposhta.ua/tracking/?cargo_number={{order.obj.newpost_backorder}}&language=ru">{{order.obj.newpost_backorder}}</a></label>
    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Архивировать заказ</button>
      <button class="btn btn-danger" ng-click="order.clearStep3()">Очистить статус шага №3</button>
    </div>
  </form>
</div>